#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  text-align: center;
  font-size: 3.2em;
  line-height: 1.1;
}

.sections {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.section {
  background-color: #f1f1f1ee;
  border-radius: 20px;
}

h2 {
  text-align: center;
}

.cards {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.card {
  padding: 10px;
  width: 250px;
  overflow: scroll;
  height: 300px;
}

.separation {
  margin: 10px;
  width: 1px;
  background-color: black;
}

.card input {
  width: 220px;
  height: 1.8em;
  background: url(./assets/search.svg) no-repeat left;
  background-size: 18px;
  background-position: 3px;
  padding-left: 25px;
  fill: gray;
  border: 2px solid gray;
  border-radius: 10px;
}

.word:hover {
  cursor: pointer;
  text-decoration: underline;
}

.chosen {
  font-weight: bold;
}