#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  text-align: center;
  margin-bottom: 100px;
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  margin-top: 100px;
  text-align: center;
}

.cards {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.card {
  padding: 20px;
  width: 350px;
  overflow: scroll;
  height: 300px;
}

.separation {
  margin: 10px;
  width: 1px;
  background-color: black;
}

.card input {
  width: 200px;
}

.word:hover {
  cursor: pointer;
  text-decoration: underline;
}

.chosen {
  font-weight: bold;
}

.mehrileh {

}